<!DOCTYPE html>
<html>

<head>
<title>SFU Companion</title>
<%= stylesheet_link_tag('index', :media=>'all')%>
</head>

<body>
	<h1 id="SFUCompanion">SFU Companion</h1>
	<hr id="gradient">
	
	<div class = "Login">
		
		<h4>Get started</h4>
		<%= link_to "Login", 'login', id: "Login_btn" %><br>
		<%= link_to "Signup", 'signup', id: "Signup_btn" %>
	
	</div>

	<div class= "guest">
		<h4>Guest Modules </h4> <br>
		<img src="/assets/courses.png" class = "fade"><img src="/assets/library.png" class = "fade"><img src="/assets/maps.png" class = "fade">
	</div>

</body>


</html>