<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<%= stylesheet_link_tag('home', :media=>'all')%>
</head>

<body>
	<h1 id ="Welcome">Welcome</h1>
	<a class = "logoutbutton"> Logout </a>
	<div id="Modules">
		<img src="/assets/courses.png" class = "fade"><img src="/assets/library.png" class = "fade"><img src="/assets/maps.png" class = "fade">
		<img src="/assets/social.png" class = "fade"><img src="/assets/calendar.png" class = "fade"><img src="/assets/transit.png" class = "fade">
	</div>

</body>

</html>