<h1>Library API PAGE - more stuff will be added!</h1>

<% for i in 0..2 %>
        <%= getArray("location")[i] %>
        <%= getArray("open_time")[i] %>
        <%= getArray("close_time")[i] %>
<% end %>