<h2>Search Results</h2>
<% results = getReservedBookResult %>
<% i = 1 %>
<% results.each do |result| %>
    <% result.each do |key, value| %>
      <% if i % 6 == 0 %>
          <%= key +": " %>
          <%= value %>
          <br>
          <hr>
      <% else %>
          <%= key +": " %>
          <%= value %>
          <br>
      <% end %> 
      <% i = i + 1 %> 
    <% end %>
 <% end %>
