<h2>Reserved Book Search Results</h2>
<% results = getReservedBookResult %>

<% results.each do |result| %>
    <% result.each do |key, value| %>
      <% if key == "Item_url" %>
          See Details & Availablility
          <%= link_to "click here!", value %>
          <br>
          <hr>
      <% elsif key == "Cover_url" %>
          <%= image_tag(value) %>   
          <br>
      <% else %>
          <%= key +": " %>
          <%= value %>
          <br>
      <% end %> 
    <% end %>
 <% end %>
