<h2>Course Search Results - course_search.html.erb file - more to be added!</h2>
<% results = getCourseSearchResult %>

<% #display course title and section %>
<% results.each do |result| %>
    <%= result['Title'] %>
    <%= result['Section'] %>
    <br>
<% end %>