body{
	background-color: #6a9afb;
	background: url('/assets/background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#gradient {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
 	
}

#Welcome{
	font-weight: normal;
	margin-left: 20px;
	margin-top: 20px;
	color: white;
	font-size: 50px;

}

#user{
	font-weight: 100px;
	margin-left: 35px;
	
	color: #f2f2f2;
	font-size: 40px;

}

#Modules{

	width: auto;
	height:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	position:static;
	text-align: center;
	margin: auto;
}

img{
	height: 310px;
	width: 270px;
	border: 0px;
	margin: 0px;
	}

.fade{
	opacity:1;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}
.fade:hover{
	opacity: 0.5;
}

.logoutbutton{
	color:white;
	border-radius: 4px;
	text-decoration: none;
	border: 1px solid white;
	padding: 7px 12px 7px 12px;
	position: absolute;
	top:20px;
	right:15px;
}
#footer{
	border-top: 1px solid white;
	
	color: white;
	width: 100%;
	position: fixed;
	bottom: 3px;
	text-align: center;

}

.adminbutton{
	color:white;
	background-color: #f5993d;
	border-radius: 4px;
	text-decoration: none;
	border: 1px solid white;
	padding: 7px 9px 7px 9px;
	position:absolute;
	right:15px;
	top: 60px;
}
