#gradient {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
 	
}

#SFUCompanion{
	font-weight: normal;
	font-size: 60px;
	text-align: center;
	margin-top: 25px;
	color: white;
	

}

body{
	background-color: #6a9afb;
	background: url('/assets/background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

img{
	height: 340px;
	width: 300px;
	border: 0px;
	margin: 0px;
	}

.fade{
	opacity:1;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}
.fade:hover{
	opacity: 0.5;
}

#Login_btn{
background-color: #5189fb;
color:white;
padding:20px 101px;
text-align: center;
text-decoration: none;
font-size: 30px;
display: inline-block;
border-radius: 6px;
margin: 2px 2px 2px 2px;

}

h4{
	color:white;
	font-weight: normal;
	font-size: 35px;
	text-align: center;
}

#Login_btn:hover {
	background-color:#3377ff;
}

#Signup_btn:hover{
	background-color:#3377ff; 
}
#Signup_btn{
	background-color: #5189fb;
color:white;
padding:20px 95px;
text-align: center;
text-decoration: none;
font-size: 30px;
border-radius: 6px;
display: inline-block;
margin: 2px 2px 2px 2px;

}

#Logout_btn{
background-color: #5189fb;
color:white;
padding:20px 95px;
text-align: center;
text-decoration: none;
font-size: 30px;
border-radius: 6px;
display: inline-block;
margin: 2px 2px 2px 2px;
}


.guest{
	
	width:900px;
	position: static;
	margin-left: 750px;
	margin-top: 250px;
	border-left: 1px solid white;
}




.Login{
border: 1px solid white;
border-radius: 6px;
padding: 40px 40px;
position: absolute;
top: 400px;
left: 10%;
right: auto;

}