<h1>SFU Transit and Road Conditions | <%= link_to "Home", root_path %> </h1>

<h2>SFU Bus Timetable</h2>
<p>135 | 143 | 144 | 145</p>


<h2>SFU Burnaby Road Condition Live Webcams</h2>

<div class = "web-aqn">
<h3>AQ North</h3>
<img width="320" height="200" class="webcamimg" src="http://www.sfu.ca/~netops/webcams/aqcam-mobile00001.jpg" alt="No Image Available" />
</div>

<div class = "web-aqsw">
<h3>AQ South West</h3>
<img width="320" height="200" class="webcamimg" src="http://www.sfu.ca/~netops/webcams/aqcamsw-mobile00001.jpg" alt="No Image Available" />
</div>

<div class = "web-udn">
<h3>University Drive North</h3>
<img width="320" height="200" class="webcamimg" src="http://www.sfu.ca/~netops/webcams/libcam00001" alt="No Image Available" />
</div>

<div class = "web-gi">
<h3>Giglardi Intersection</h3>
<img width="320" height="200" class="webcamimg" src="http://www.sfu.ca/~netops/webcams/gaglardicam00001.jpg" alt="No Image Available" />
</div>
