<footer class="footer">
  <small>
    The <a href="http://www.sfu.ca/">SFU Companion</a>
    by Group 7</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>